/* Reset default browser spacing */
body {
margin: 0;
font-family: Times New Roman, Times, serif;
background-color: #f4f4f4;
}
/* Header */
header {
background-color: #8A2BE2;
color: white;
padding: 20px;
text-align: center;
}

/* Navigation */
nav.navbar {
background-color: #9453d1 !important;
color: white !important;
}

nav.navbar a {
color: white !important;
}

/* Main Content */
main {
padding: 20px;
}

/* Sections */
section {
    background-color: #f4f4f4;
    color: black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.button-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}
/*Footer*/
footer {
background-color: #8A2BE2;
accent-color: white;
text-align: center;
color: white;
margin-top: 20px;
padding: 20px;
}

/* Carousel */
.carousel-container {
    width: 100%;
}

@media (min-width: 1200px) {
    .carousel-container {
        max-width: 600px;
        margin: 0 auto;
    }
} 
